.orderList-page{
	.tab-box{
		.tab-header{

		}
		.tab-content{
			.nodata{
				margin-top: px2rem(10px);
				padding: px2rem(10px);
			}
			.top-tab{
				background: url('./images/bg2.jpg') no-repeat;
				background-size: 100%;
				padding-top: px2rem(15px);
				.pay-tab{
					padding-top: px2rem(15px);
					img{
						width: px2rem(30px);
					}
				}
				.child-img{
					width: px2rem(60px);
					img{
						width: 100%;
					}
				}
				.info{
					color: #fff;
				}
				.order-info{
					padding: px2rem(10px) 0;
					color: #fff;
					.flex-1{
						border-right: 1px solid #fff;
						&:last-child{
							border-right: none;
						}
					}
				}
			}
			.order-tab{
				background-color: #fff;
				margin: px2rem(10px) px2rem(10px) 0;
				border-top-left-radius: px2rem(4px);
				border-top-right-radius: px2rem(4px);
				&:last-child{
					margin-bottom: px2rem(10px);
				}
				.date{
					font-size: px2rem(15px);
				}
				.tab{
					padding: px2rem(10px);
					.diagnosis{
						color: #D45D5D;
					}
					.has-diagnosis{
						color: #34E945;
					}
				}
				.status{
					border-radius: px2rem(4px);
					color: #fff;
					padding: px2rem(2px) px2rem(10px);
					background-color: #D45D5D;
					&.in{
						background-color: #39A99D;
					}
					&.cancel{
						background-color: #666666;
					}
					&.complete{
						background-color: #448CCB;
					}
				}
				.text-right{
					text-align: right;
				}
				.btn-cancel{
					padding: px2rem(5px) px2rem(10px);
					background-color: #F4D020;
					    border: none;
    					color: #fff;
    					border-radius: 5px;
				}
				.sawtooth{
					height: px2rem(5px);
					background: url('images/sawtooth.jpg') no-repeat;
					background-size: 100% 100%;
				}
			}
		}
	}
}
.orderDetail-page{
	.content-page{
		top: px2rem(92px)!important;
		.tip{
			margin: px2rem(10px);
			padding: px2rem(5px);
			background-color: #9CCC65;
			color: #fff;
			border-radius: px2rem(5px);
		}
	}
}
.orderCheckInfo-page{
	.check-list{
		.item{
			margin-bottom: px2rem(10px);
			background-color: #fff;
			padding: px2rem(10px);
			.title{
				font-size: px2rem(16px);
			}
			.info-tab{
				margin-top: px2rem(10px);
				border: 1px solid #E0E0E0;
				.tab{
					border-bottom: 1px solid #E0E0E0;
					&:last-child{
						border-bottom: none;
					}
					.tab-item{
						padding: px2rem(5px);
						border-right: 1px solid #E0E0E0;
						&:last-child{
							border-right: none;
						}
						.icon{
							position: relative;
							top: 50%;
							left: 50%;
							margin-top: px2rem(-10px);
							margin-left: px2rem(-10px);
							width: px2rem(20px);
							height: px2rem(20px);
							display: block;
						}
					}
				}
			}
		}
	}
}
.orderPaySuccess-page{
	img{
		width: px2rem(90px);
	}
	.info{
		margin-top: px2rem(20px);
		font-size: px2rem(20px);
	}
	.tel{
		margin-top: px2rem(20px);
		font-size: px2rem(16px);
	}
	.success-tab{
		margin-top: px2rem(50px);
		text-align: center;
	}
	.error-tab{
		margin-top: px2rem(50px);
		text-align: center;
		.btn-dock{
			margin-top: px2rem(20px);
		}
	}
}
