.footer{
    width: 100%;
    height: 100%;
    background: #fff;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    border-top: 1px solid $color-border-default;
    padding-top: px2rem(2px);
    .item{
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        height: 100%;
        text-align: center;
        padding-top: px2rem(3px);
        .icon{
            width: 22px;
            height: 22px;
            margin: 0 auto;
            overflow: hidden;
            display: block;
        }
        .icon-home{
            background: url('../app/images/icon_footer.png') no-repeat;
            background-size: 88px 44px;
            background-position: 0 -22px;
            &.active{
                background-position: 0 0;
            }

        }
        .icon-baoquan{
            background: url('../app/images/icon_footer.png') no-repeat;
            background-size: 88px 44px;
            background-position: -22px -22px;
            &.active{
                background-position: -22px 0;
            }
        }
        .icon-cck{
            background: url('../app/images/icon_footer.png') no-repeat;
            background-size: 88px 44px;
            background-position: -44px -22px;
            &.active{
                background-position: -44px 0;
            }

        }
        .icon-me{
            background: url('../app/images/icon_footer.png') no-repeat;
            background-size: 88px 44px;
            background-position: -66px -22px;
            &.active{
                background-position: -66px 0;
            }
        }
        .text{
            color: #999;
            font-size: px2rem(map_get($map-font-size, s));
            &.active{
                color: $color-primary;
            }
        }
    }
}