.clinic-page{
	.clinic-info{
		background-color: #fff;
		.info-img{
			padding: px2rem(10px);
			img{
				width: 100%;
			}
		}
		.info-full{
			clear: both;
			padding-left: px2rem(10px);
			.tel{
				border-top: 1px solid $color-border-default;
				padding: px2rem(10px) 0;
				display: block;
				.icon-phone{
					background: url('images/icon_iphone.png') no-repeat;
					background-size: px2rem(15px) px2rem(11px);
					background-position-y: px2rem(3px);
					padding-left: px2rem(18px);
				}
			}
			.icon-address{
				border-top: 1px solid $color-border-default;
				padding: px2rem(10px);
				background: url('images/icon_map.png') no-repeat;
				background-size: px2rem(12px) px2rem(15px);
				padding-left: px2rem(18px);
				background-position-y: 50%;
			}
		}
	}
	.description{
		margin-top: px2rem(10px);
		background-color: #fff;
		.title{
			padding: px2rem(10px);
			font-weight: 800;
		}
		.info{
			margin-left: px2rem(10px);
			padding: px2rem(10px) px2rem(10px) px2rem(10px) 0;
			border-top: 1px solid $color-border-default;
			text-indent: 2rem;
		}
	}
	.btn-dock{
		margin: px2rem(20px) 0;
		.btn-pt{
			background-color: #7ACACC;
			color: #fff;
			&:disabled{
				background-color: #d6d6d6;
				color: rgba(0,0,0,0.4);
			}
		}
		.btn-zj{
			background-color: $color-primary;
			color: #fff;
		}
	}
}
.clinicBooking-page{
	.booking-PT{
		text-align: center;
		padding: px2rem(10px);
		img{
			width: px2rem(90px);
		}
	}
	.booking-ZJ{
		padding: px2rem(10px);
		.doctor-info{
			padding-top: px2rem(10px);
			display: flex;
			.info-left{
				flex: 1;
			}
			.info-middle{
				img{
					width: px2rem(90px);
					height: px2rem(90px);
					border-radius: 50%;
				}
			}
			.info-right{
				flex: 1;
				p{
					text-align: right;
					span{
						padding: px2rem(5px);
						background-color: #F4D020;
						border-radius: px2rem(5px);
						color: #fff;
					}
				}
			}
		}
	}
	.cell-group{
		select,input{
			width: 100%;
			border: none;
			border-width:0px;
		    border-top-style: none; 
		    border-right-style: none; 
		    border-left-style: none; 
		    border-bottom-style: none;
		    appearance:none;
			-moz-appearance:none;
			-webkit-appearance:none;
			background-color: #fff;
		}
		.icon-date{
			background: url('images/icon_date.png') no-repeat;
			background-size: px2rem(15px) px2rem(15px);
			padding-left: px2rem(20px);
			background-position-y: px2rem(16px);
		}
		.icon-time{
			background: url('images/icon_time.png') no-repeat;
			background-size: px2rem(15px) px2rem(15px);
			padding-left: px2rem(20px);
			background-position-y: px2rem(16px);
		}
		.icon-type{
			background: url('images/icon_type.png') no-repeat;
			background-size: px2rem(15px) px2rem(15px);
			padding-left: px2rem(20px);
			background-position-y: px2rem(16px);
		}
		.icon-name{
			background: url('images/icon_name.png') no-repeat;
			background-size: px2rem(15px) px2rem(15px);
			padding-left: px2rem(20px);
			background-position-y: px2rem(16px);
		}
		.icon-age{
			background: url('images/icon_birthday.png') no-repeat;
			background-size: px2rem(15px) px2rem(15px);
			padding-left: px2rem(20px);
			background-position-y: px2rem(16px);
		}
		.icon-phone{
			background: url('images/icon_phone.png') no-repeat;
			background-size: px2rem(15px) px2rem(15px);
			padding-left: px2rem(20px);
			background-position-y: px2rem(16px);
		}
		.tip{
			text-align: right;
			color: #fd6060;
			padding-right: px2rem(10px);
		}
	}
	.btn-dock{
		padding-bottom: px2rem(20px);
	}
}
.selectClinic-page{
	.city-tab{
		position: fixed;
		top: px2rem(44px);
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.6);
		.tab-grid{
			max-height: px2rem(250px);
			background-color: #fff;
			display: flex;
			.grid-left{
				overflow-x: hidden;
				overflow-y: auto;
				width: 30%;
				border-right: px2rem(1px) solid #efefef;
				.left-state{
					padding: px2rem(5px);
					&.bb-gray{
						border-bottom: px2rem(1px) solid #efefef;
					}
					&.selected{
						color: red;
					}
				}
			}
			.grid-right{
				overflow-x: hidden;
				overflow-y: auto;
				width: 70%;
				.right-city{
					padding: px2rem(5px);
					&.bb-gray{
						border-bottom: px2rem(1px) solid #efefef;
					}
					&.selected{
						color: red;
					}
				}
			}
		}
	}
	.clinic-tab{
		.clinic-item{
			padding: px2rem(10px);
			background-color: #fff;
			margin-top: px2rem(10px);
			.item-grid{
				display: flex;
				.item-left{
					width: 40%;
					img{
						width: 100%;
					}
				}
				.item-right{
					padding-left: px2rem(10px);
					width: 60%;
				}
			}
		}
		.nodata{
			color: $color-default;
			margin-top: px2rem(20px);
			img{
				width: px2rem(80px);
			}
			.info{
				margin-top: px2rem(10px);
				font-size: px2rem(16px);
			}
		}
	}
}
.selectDoctor-page{
	.doctor-tab{
		.doctor-item{
			margin-top: px2rem(10px);
			background-color: #fff;
			display: flex;
			.item-left{
				width: px2rem(120px);
				height: px2rem(120px);
				padding: px2rem(10px);
				img{
					border-radius: 50%;
					width: 100%;
					height: px2rem(100px)
				}
			}
			.item-right{
				flex: 1;
				padding: px2rem(10px) px2rem(10px) px2rem(10px) 0;
			}
		}
	}
	.btn-sample{
		margin-top: px2rem(10px);
		padding: px2rem(10px) 0;
		background-color: #fff;
		.tip{
			padding: px2rem(10px);
			font-size: px2rem(16px);
		}
		.optional{
			padding: 0 px2rem(5px);
			border: px2rem(1px) solid #999;
			border-radius: px2rem(5px);
			margin-right: px2rem(5px);
		}
		.select-optional{
			background-color: #9CCC65;
			color: #fff;
			padding: 0 px2rem(5px);
			border-radius: px2rem(5px);
			margin-right: px2rem(5px);
		}
		.already-optional{
			background-color: #F0675B;
			color: #fff;
			padding: 0 px2rem(5px);
			border-radius: px2rem(5px);
		}
	}
	.time-row{
		p{
			background-color: #fff;
			margin-top: px2rem(5px);
			width: 25%;
			float: left;
			text-align: center;
			padding: px2rem(5px) px2rem(10px);
			span{
				padding: px2rem(2px) px2rem(10px);
				border: px2rem(1px) solid #999;
				border-radius: px2rem(5px);
				&.select-optional{
					background-color: #9CCC65;
					color: #fff;
				}
				&.already-optional{
					background-color: #F0675B;
					color: #fff;
					border: none;
				}
			}
		}
	}
    .btn-dock{
    	margin: px2rem(20px) 0;
    }
    #dateNavScroll{
	    .scroll{
	        width: auto;
	        height: 100%;
	    }
	}
	.scroll{
	    position: absolute;
	    -webkit-transform: translateZ(0);
	    -moz-transform: translateZ(0);
	    -ms-transform: translateZ(0);
	    -o-transform: translateZ(0);
	    transform: translateZ(0);
	    -webkit-touch-callout: none;
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	    -webkit-text-size-adjust: none;
	    -moz-text-size-adjust: none;
	    -ms-text-size-adjust: none;
	    -o-text-size-adjust: none;
	    text-size-adjust: none;
	}
	.date-nav{
	    background: #fff;
	    height: px2rem(36px);
	    position: relative;
	    width: 100%;
	    overflow: hidden;
	    ul{
	        
	    }
	    ul:after{
	        content: '';
	        display: block;
	        clear: both;
	    }
	    li{
	        float: left;
	        list-style-type: none;
	        margin: 0 px2rem(10px);
	        padding: px2rem(10px) px2rem(5px);
	        &.selected{
	            color: $color-light;
	            border-bottom: $color-light px2rem(4px) solid;
	        }
	    }
	}
}
.map-page{
	.way-tab{
	    position: fixed;
    	width: 100%;
    	height: 100%;
    	background-color: rgba(0,0,0,0.6);
		top: px2rem(44px);
		z-index: 99999;
		.way-item{
			background-color: #fff;
			padding: px2rem(10px) px2rem(10px);
			border-bottom: 1px solid #efefef;
		}
	}
	#mapContainer{
		top: px2rem(44px);
	}
	#panel {
        position: fixed;
        background-color: white;
        max-height: 80%;
        overflow-y: auto;
        top: px2rem(54px);
        right: px2rem(5px);
        width: 30%;
    }
}
.bookingInfo-page{
	.content-page{
	}
}
.bookingOrder-page{
	.order-tab{
		padding: px2rem(10px);
		.item{
			border-radius: px2rem(4px);
			background-color: #fff;
			margin-bottom: px2rem(10px);
			.shopName{
				padding: px2rem(10px);
				border-bottom: 1px solid #efefef;
				.info{
					color: $color-primary;
				}
			}
			.middle{
				padding: px2rem(10px);
				.time{
					.dept{
						font-size: px2rem(12px);
					}
				}
			}
			.edit{
				border-top: 1px solid #efefef;
				.cancel{
					padding: px2rem(10px);
					border-right: 1px solid #efefef;
				}
				.visit{
					padding: px2rem(10px);
					border-right: 1px solid #efefef;
				}
				.update{
					padding: px2rem(10px);
					color: $color-primary;
				}
			}
			&.last-child{
				margin-bottom: 0;
			}
		}
	}
}
.bookingUpdate-page{
	.content-page{
		.tab-info{
			padding: px2rem(10px);
		}
	}
}