<div ng-controller="LayoutCtrl" class="layout-base">
    <div header-widget></div>

    <div class="layout-content" id="layoutContent">
        <div class="content-view">
            <div ng-controller="orderCheckListCtrl" class="orderCheckList-page">
                <div class="check-tab" ng-repeat="check in checkList">
                    <div class="tab">
                        <div ng-click="detail(check)">
                            <p>
                                <span>检查项目：</span>
                                <span ng-bind="check.checkName"></span>
                            </p>
                            <p ng-if="check.resultList.length > 0" class="pt10">
                                <span>报告时间：</span>
                                <span ng-bind="check.resultList[0].time"></span>
                            </p>
                        </div>
                    </div>
                    <div class="sawtooth"></div>
                </div>
            </div>
        </div>
    </div>

    <div footer-widget menu-list="menuList"></div>
</div>
