<div ng-controller="LayoutCtrl" class="layout-base">
    <div header-widget></div>

    <div class="layout-content" id="layoutContent">
        <div class="content-view">
            <div ng-controller="OrderCtrl" class="orderList-page">
                <div class="content-page" ng-class="{'topHeader': header, 'bottomFooter': footer}">
            		<div class="tab-box">
            			<div class="tab-content">
                            <div class="top-tab">
                                <div class="tab">
                                    <div class="flex">
                                        <div class="flex-1 pay-tab text-center">
                                            <img src="./app/images/icon_rmb.png" ng-click="goRouter('user-payList')">
                                        </div>
                                        <div class="child-img">
                                            <img ng-src="{{selectedChild.imageUrl ? selectedChild.imageUrl : './app/images/icon_child.png'}}">
                                        </div>
                                        <div class="flex-1"></div>
                                    </div>
                                    <div class="text-center info">
                                        <span>{{selectedChild.gender}}</span>
                                        <span>{{selectedChild.age}}</span>
                                        <span>{{username}}</span>
                                    </div>
                                    <div class="order-info">
                                        <div ng-if="selectedChild" class="flex text-center">
                                            <div class="flex-1">
                                                {{bookingInNum}}次就诊
                                            </div>
                                            <div class="flex-1">
                                                {{casehistory.length}}份病历
                                            </div>
                                            <div class="flex-1">
                                                {{checkprojects.length}}组报告
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="allBookings.length == 0" class="nodata">
                                暂无就诊记录
                            </div>
            				<div class="order-tab" ng-repeat="order in allBookings">
                                <div class="tab">
                					<div ng-click="detail(order)">
                                        <div class="flex">
                                            <div class="flex-1 date" ng-bind="order.bookingDateText"></div>
                                            <div class="status" ng-bind="order.statusText" ng-class="{'in': order.status == '3' || order.status == '4' || order.status == '11', 'cancel':  order.status == '0', 'complete': order.status == '5'}"></div>
                                        </div>
                						<p class="pt10">
                							<span>接诊医生：</span>
                							<span ng-bind="order.doctorName"></span>
                							<span ng-bind="order.serviceName"></span>
                						</p>
                                        <p ng-if="order.status != '0'" class="pt10">
                                            <span>诊断结果：</span>
                                            <span ng-class="{'diagnosis': !(order.status == '4' || order.status == '5' || order.status == '11'), 'has-diagnosis': order.status == '4' || order.status == '5' || order.status == '11'}">{{order.status == '4' || order.status == '5' || order.status == '11' ? (!order.diagnosis || order.diagnosis == '' ? '暂无' : order.diagnosis) : '尚未就诊'}}</span>
                                        </p>
                					</div>
                					<p class="text-right" ng-show="order.status==1">
                						<button class="btn-cancel" ng-click="cancelOrder(order.id)">取消订单</button>
                					</p>
                                </div>
                                <div class="sawtooth"></div>
            				</div>
            			</div>
            		</div>
            	</div>
            </div>
        </div>
    </div>

    <div footer-widget menu-list="menuList"></div>
</div>
