<div ng-controller="LayoutCtrl" class="layout-base">
    <div header-widget></div>

    <div class="layout-content" id="layoutContent">
        <div class="content-view">
            <div ng-controller="orderDetailCtrl" class="orderDetail-page">
                <div class="tab-box">
                    <div class="tab-header">
                        <div class="tab-item" ng-class="{'active': selectedTab==0}" ng-click="checkTab(0)">详情</div>
                        <div class="tab-item" ng-class="{'active': selectedTab==1}" ng-click="checkTab(1)" ng-if="hasCasehistory || healthrecordList.length == 0">病历</div>
                        <div class="tab-item" ng-class="{'active': selectedTab==2}" ng-click="checkTab(2)" ng-if="healthrecordList.length > 0">儿保</div>
                        <!-- <div class="tab-item" ng-class="{'active': selectedTab==3}" ng-click="checkTab(3)">医嘱</div> -->
                    </div>
                </div>
                <div class="content-page" ng-class="{'bottomFooter': footer}">
                    <div ng-if="selectedTab == 0" class="pad10">
                		<p ng-if="(order.status  == '1' || order.status  == '2') && use" class="tip">
                			<span>离面诊时间还有</span>
                			<span ng-bind="order.timeDiff"></span>
                		</p>
                		<div class="cell-group">
                            <div class="cell">
                                <div class="left-box">
                                    接诊医生:
                                </div>
                                <div class="middle-box" ng-bind="order.doctorName"></div>
                            </div>
                			<div class="cell">
                				<div class="left-box">
                					就诊宝宝:
                				</div>
                				<div class="middle-box" ng-bind="order.childName"></div>
                			</div>
                			<div class="cell">
                				<div class="left-box">
                					就诊科室:
                				</div>
                				<div class="middle-box" ng-bind="order.serviceName"></div>
                			</div>
                			<div class="cell" ng-if="order.begin">
                				<div class="left-box">
                					就诊时间:
                				</div>
                				<div class="middle-box" ng-bind="order.beginText"></div>
                			</div>
                		</div>
                    </div>
                    <div ng-if="(hasCasehistory || healthrecordList.length == 0) && selectedTab == 1">
                        <div ng-if="hasCasehistory" class="pad10">
                    		<div class="cell-group text">
                    			<div ng-if="casehistory.weight != null && casehistory.weight != ''" class="cell height-auto">
                    				<div class="left-box clearly-width">
                    					体重:
                    				</div>
                    				<div class="middle-box">
                                        <div class="line-height-normal">
                                            {{casehistory.weight}}Kg
                                        </div>
                                        <div ng-if="casehistory.midWeight != null && casehistory.midWeight != ''" class="line-height-normal">
                                            中等值：{{casehistory.midWeight}}Kg
                                        </div>
                                        <div ng-if="casehistory.weight != null && casehistory.weight != '' && casehistory.midWeight != null && casehistory.midWeight != ''" class="line-height-normal">
                                            对比：{{casehistory.compareWeight}}
                                        </div>
                                    </div>
                    			</div>
                    			<div ng-if="casehistory.height != null && casehistory.height != ''" class="cell height-auto">
                    				<div class="left-box clearly-width">
                    					身高:
                    				</div>
                    				<div class="middle-box">
                                        <div class="line-height-normal">
                                            {{casehistory.height}}cm
                                        </div>
                                        <div ng-if="casehistory.midHeight != null && casehistory.midHeight != ''" class="line-height-normal">
                                            中等值：{{casehistory.midHeight}}cm
                                        </div>
                                        <div ng-if="casehistory.height != null && casehistory.height != '' && casehistory.midHeight != null && casehistory.midHeight != ''" class="line-height-normal">
                                            对比：{{casehistory.compareHeight}}
                                        </div>
                                    </div>
                    			</div>
                    			<div ng-if="casehistory.bodyTemperature != null && casehistory.bodyTemperature != ''" class="cell">
                    				<div class="left-box clearly-width">
                    					体温:
                    				</div>
                    				<div class="middle-box">
                                        {{casehistory.bodyTemperature}}°C
                                    </div>
                    			</div>
                    			<div ng-if="casehistory.headCircum != null && casehistory.headCircum != ''" class="cell">
                    				<div class="left-box clearly-width">
                    					头围:
                    				</div>
                    				<div class="middle-box">
                                        {{casehistory.headCircum}}cm
                                    </div>
                    			</div>
                    			<div ng-if="casehistory.breastCircum != null && casehistory.breastCircum != ''" class="cell">
                    				<div class="left-box clearly-width">
                    					胸围:
                    				</div>
                    				<div class="middle-box">
                                        {{casehistory.breastCircum}}cm
                                    </div>
                    			</div>
                    			<div ng-if="casehistory.topicComment != null && casehistory.topicComment != ''" class="cell height-auto">
                    				<div class="left-box clearly-width">
                    					主诉:
                    				</div>
                    				<div class="middle-box line-height-normal">
                                        {{casehistory.topicComment}}
                                    </div>
                    			</div>
                    			<div ng-if="casehistory.checkResult != null && casehistory.checkResult != ''" class="cell height-auto">
                    				<div class="left-box clearly-width">
                    					检查结果:
                    				</div>
                    				<div class="middle-box line-height-normal">
                                        {{casehistory.checkResult}}
                                    </div>
                    			</div>
                    			<div ng-if="casehistory.presentIllness != null && casehistory.presentIllness != ''" class="cell height-auto">
                    				<div class="left-box clearly-width">
                    					现病史:
                    				</div>
                    				<div class="middle-box line-height-normal">
                                        {{casehistory.presentIllness}}
                                    </div>
                    			</div>
                    			<div ng-if="casehistory.previousHistory != null && casehistory.previousHistory != ''" class="cell height-auto">
                    				<div class="left-box clearly-width">
                    					既往史:
                    				</div>
                    				<div class="middle-box line-height-normal">
                                        {{casehistory.previousHistory}}
                                    </div>
                    			</div>
                    			<div ng-if="casehistory.allergy != null && casehistory.allergy != ''" class="cell height-auto">
                    				<div class="left-box clearly-width">
                    					过敏史:
                    				</div>
                    				<div class="middle-box line-height-normal">
                                        {{casehistory.allergy}}
                                    </div>
                    			</div>
                    			<div ng-if="casehistory.familyHistory != null && casehistory.familyHistory != ''" class="cell height-auto">
                    				<div class="left-box clearly-width">
                    					家族史:
                    				</div>
                    				<div class="middle-box line-height-normal">
                                        {{casehistory.familyHistory}}
                                    </div>
                    			</div>
                    			<div ng-if="casehistory.breedHistory != null && casehistory.breedHistory != ''" class="cell height-auto">
                    				<div class="left-box clearly-width">
                    					孕育史:
                    				</div>
                    				<div class="middle-box line-height-normal">
                                        {{casehistory.breedHistory}}
                                    </div>
                    			</div>
                    			<div ng-if="casehistory.growthHistory != null && casehistory.growthHistory != ''" class="cell height-auto">
                    				<div class="left-box clearly-width">
                    					生长发育史:
                    				</div>
                    				<div class="middle-box line-height-normal">
                                        {{casehistory.growthHistory}}
                                    </div>
                    			</div>
                    			<div ng-if="casehistory.physicalCheck != null && casehistory.physicalCheck != ''" class="cell height-auto">
                    				<div class="left-box clearly-width">
                    					体格检查:
                    				</div>
                    				<div class="middle-box line-height-normal">
                                        {{casehistory.physicalCheck}}
                                    </div>
                    			</div>
                    			<div ng-if="(casehistory.breathe != null && casehistory.breathe != '') || (casehistory.bloodPressure != null && casehistory.bloodPressure != '') || (casehistory.faceNeck != null && casehistory.faceNeck != '') || (casehistory.heartLung != null && casehistory.heartLung != '') || (casehistory.abdomen != null && casehistory.abdomen != '') || (casehistory.limbs != null && casehistory.limbs != '') || (casehistory.nervousSystem != null && casehistory.nervousSystem != '')" class="cell height-auto">
                    				<div class="left-box clearly-width">
                    					体格检查详情:
                    				</div>
                    				<div class="middle-box">
                                        <div ng-if="casehistory.breathe != null && casehistory.breathe != ''" class="line-height-normal">
                                            呼吸：{{casehistory.breathe}}次/分
                                        </div>
                                        <div ng-if="casehistory.bloodPressure != null && casehistory.bloodPressure != ''" class="line-height-normal">
                                            血压：{{casehistory.bloodPressure}}mmHg
                                        </div>
                                        <div ng-if="casehistory.faceNeck != null && casehistory.faceNeck != ''" class="line-height-normal">
                                            面、颈部：{{casehistory.faceNeck}}
                                        </div>
                                        <div ng-if="casehistory.heartLung != null && casehistory.heartLung != ''" class="line-height-normal">
                                            心肺：{{casehistory.heartLung}}
                                        </div>
                                        <div ng-if="casehistory.abdomen != null && casehistory.abdomen != ''" class="line-height-normal">
                                            腹部：{{casehistory.abdomen}}
                                        </div>
                                        <div ng-if="casehistory.limbs != null && casehistory.limbs != ''" class="line-height-normal">
                                            四肢：{{casehistory.limbs}}
                                        </div>
                                        <div ng-if="casehistory.nervousSystem != null && casehistory.nervousSystem != ''" class="line-height-normal">
                                            神经系统：{{casehistory.nervousSystem}}
                                        </div>
                                    </div>
                    			</div>
                    			<div ng-if="casehistory.diagnosis != null && casehistory.diagnosis != ''" class="cell height-auto">
                    				<div class="left-box clearly-width">
                    					诊断:
                    				</div>
                    				<div class="middle-box line-height-normal has-diagnosis">
                                        {{casehistory.diagnosis}}
                                    </div>
                    			</div>
                    			<div ng-if="casehistory.advise != null && casehistory.advise != ''" class="cell height-auto">
                    				<div class="left-box clearly-width">
                    					建议:
                    				</div>
                    				<div class="middle-box line-height-normal">
                                        {{casehistory.advise}}
                                    </div>
                    			</div>
                            </div>
                        </div>
                        <div ng-if="!hasCasehistory" class="pad10">
                            暂无病例信息
                        </div>
                    </div>
                    <div ng-if="healthrecordList.length > 0 && selectedTab == 2">
                        <div class="pad10" ng-repeat="healthrecord in healthrecordList">
                            <div class="cell-group text">
                                <div ng-if="healthrecord.weight != null && healthrecord.weight != ''" class="cell height-auto">
                                    <div class="left-box clearly-width">
                                        体重:
                                    </div>
                                    <div class="middle-box">
                                        <div class="line-height-normal">
                                            {{healthrecord.weight}}Kg
                                        </div>
                                        <div ng-if="healthrecord.mediumWeight != null && healthrecord.mediumWeight != ''" class="line-height-normal">
                                            中等值：{{healthrecord.mediumWeight}}Kg
                                        </div>
                                        <div ng-if="healthrecord.weight != null && healthrecord.weight != '' && healthrecord.mediumWeight != null && healthrecord.mediumWeight != ''" class="line-height-normal">
                                            对比：{{healthrecord.compareWeight}}
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="healthrecord.height != null && healthrecord.height != ''" class="cell height-auto">
                                    <div class="left-box clearly-width">
                                        身高:
                                    </div>
                                    <div class="middle-box">
                                        <div class="line-height-normal">
                                            {{healthrecord.height}}Kg
                                        </div>
                                        <div ng-if="healthrecord.mediumHeight != null && healthrecord.mediumHeight != ''" class="line-height-normal">
                                            中等值：{{healthrecord.mediumHeight}}Kg
                                        </div>
                                        <div ng-if="healthrecord.height != null && healthrecord.height != '' && healthrecord.mediumHeight != null && healthrecord.mediumHeight != ''" class="line-height-normal">
                                            对比：{{healthrecord.compareHeight}}
                                        </div>
                                    </div>
                                </div>
                                <!-- <div> -->
                                    <div ng-if="healthrecord[item.key] != null && healthrecord[item.key] != ''" ng-repeat="item in healthItem" class="cell height-auto">
                                        <div class="left-box clearly-width">
                                            {{item.name}}:
                                        </div>
                                        <div class="middle-box line-height-normal">
                                            {{healthrecord[item.key] + item.unit}}
                                        </div>
                                    </div>
                                <!-- </div> -->
                            </div>
                        </div>
                    </div>
                    <div ng-if="selectedTab == 3">
                        <div ng-if="check != '' || assist != '' || prescript.length > 0" class="pad10">
                            <div class="cell-group text">
                                <div ng-if="check != ''" class="cell height-auto">
                                    <div class="left-box clearly-width">
                                        实验室检查:
                                    </div>
                                    <div class="middle-box">
                                        <div class="line-height-normal">
                                            {{check}}
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="assist != ''" class="cell height-auto">
                                    <div class="left-box clearly-width">
                                        治疗:
                                    </div>
                                    <div class="middle-box">
                                        <div class="line-height-normal">
                                            {{assist}}
                                        </div>
                                    </div>
                                </div>
                    			<div ng-if="prescript.length > 0" ng-repeat="item in prescript" class="cell height-auto">
                    				<div class="left-box clearly-width">
                    					{{$index == 0 ? '处方:' : ''}}
                    				</div>
                    				<div class="middle-box">
                                        <div>
                                            <span>{{item.pname}}</span>
                                            <span>{{item.format}}</span>
                                            <span>{{item.num + item.unit}}</span>
                                            <span>{{item.days}}天</span>
                                        </div>
                                        <div>
                                            用法：
                                            <span>{{item.frequency}}</span>
                                            <span>{{item.usage}}</span>
                                            <span>一次{{item.oneNum + item.oneUnit}}</span>
                                        </div>
                                    </div>
                    			</div>
                            </div>
                            <div ng-if="check != ''" class="btn-dock">
            					<button class="btn btn-primary" ng-click="showCheckInfo()">查看检查详情</button>
            				</div>
                        </div>
                        <div ng-if="check == '' && assist == '' && prescript.length == 0" class="pad10">
                            暂无医嘱信息
                        </div>
                    </div>
            	</div>
            </div>
        </div>
    </div>

    <div footer-widget menu-list="menuList"></div>
</div>
