<div ng-controller="LayoutCtrl" class="layout-base">
    <div header-widget></div>

    <div class="layout-content" id="layoutContent">
        <div class="content-view">
            <div ng-controller="orderInfoCtrl" class="orderInfo-page">
                <div class="cell-group">
                    <div class="cell">
                        <div class="left-box">
                            宝宝姓名:
                        </div>
                        <div class="middle-box" ng-bind="info.childName"></div>
                    </div>
                    <div class="cell">
                        <div class="left-box">
                            手机号码:
                        </div>
                        <div class="middle-box" ng-bind="info.mobile"></div>
                    </div>
                    <div class="cell">
                        <div class="left-box">
                            预约服务:
                        </div>
                        <div class="middle-box" ng-bind="info.serviceName"></div>
                    </div>
                    <div class="cell">
                        <div class="left-box">
                            预约医生:
                        </div>
                        <div class="middle-box" ng-bind="info.doctorName"></div>
                    </div>
                    <div class="cell">
                        <div class="left-box">
                            预约日期:
                        </div>
                        <div class="middle-box" ng-bind="info.bookingDate"></div>
                    </div>
                    <div class="cell">
                        <div class="left-box">
                            状态:
                        </div>
                        <div class="middle-box" ng-bind="info.statusText"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div footer-widget menu-list="menuList"></div>
</div>
