<div ng-controller="orderDetailCtrl" class="orderDetail-page">
    <div class="tab-box">
        <div class="tab-header">
            <div class="tab-item" ng-class="{'active': selectedTab==0}" ng-click="checkTab(0)">详情</div>
            <div class="tab-item" ng-class="{'active': selectedTab==1}" ng-click="checkTab(1)">病例</div>
            <div class="tab-item" ng-class="{'active': selectedTab==2}" ng-click="checkTab(2)">医嘱</div>
        </div>
    </div>
    <div class="content-page" ng-class="{'bottomFooter': footer}">
        <div ng-if="selectedTab == 0">
    		<p ng-if="(order.status  == '1' || order.status  == '2') && use" class="tip">
    			<span>离面诊时间还有</span>
    			<span ng-bind="order.timeDiff"></span>
    		</p>
    		<div class="cell-group">
    			<!-- <div class="cell">
    				<div class="left-box">
    					预约编号
    				</div>
    				<div class="middle-box" ng-bind="order.refNo"></div>
    			</div> -->
    			<div class="cell">
    				<div class="left-box">
    					预约诊所
    				</div>
    				<div class="middle-box" ng-bind="order.clinicName"></div>
    			</div>
    			<div class="cell">
    				<div class="left-box">
    					预约项目
    				</div>
    				<div class="middle-box" ng-bind="order.serviceName"></div>
    			</div>
    			<div class="cell">
    				<div class="left-box">
    					预约宝宝
    				</div>
    				<div class="middle-box" ng-bind="order.childName"></div>
    			</div>
    			<div class="cell">
    				<div class="left-box">
    					预留电话
    				</div>
    				<div class="middle-box" ng-bind="order.mobile"></div>
    			</div>
    			<div class="cell">
    				<div class="left-box">
    					预约时间
    				</div>
    				<div class="middle-box" ng-bind="order.bookingDateText"></div>
    			</div>
    			<div class="cell">
    				<div class="left-box">
    					预约医生
    				</div>
    				<div class="middle-box" ng-bind="order.doctorName"></div>
    			</div>
    		</div>
        </div>
        <div ng-if="selectedTab == 1">
            <div ng-if="hasCasehistory">
        		<div class="cell-group text">
        			<div class="cell height-auto">
        				<div class="left-box clearly-width">
        					体重
        				</div>
        				<div class="middle-box">
                            <div class="line-height-normal">
                                {{casehistory.weight}}
                            </div>
                            <div class="line-height-normal">
                                中等值：{{casehistory.midWeight}}
                            </div>
                            <div class="line-height-normal">
                                对比：{{casehistory.compareWeight}}
                            </div>
                        </div>
        			</div>
        			<div class="cell height-auto">
        				<div class="left-box clearly-width">
        					身高
        				</div>
        				<div class="middle-box">
                            <div class="line-height-normal">
                                {{casehistory.height}}
                            </div>
                            <div class="line-height-normal">
                                中等值：{{casehistory.midHeight}}
                            </div>
                            <div class="line-height-normal">
                                对比：{{casehistory.compareHeight}}
                            </div>
                        </div>
        			</div>
        			<div class="cell">
        				<div class="left-box clearly-width">
        					头围
        				</div>
        				<div class="middle-box">
                            {{casehistory.headCircum}}
                        </div>
        			</div>
        			<div class="cell">
        				<div class="left-box clearly-width">
        					胸围
        				</div>
        				<div class="middle-box">
                            {{casehistory.breastCircum}}
                        </div>
        			</div>
        			<div class="cell">
        				<div class="left-box clearly-width">
        					出牙数
        				</div>
        				<div class="middle-box">
                            {{casehistory.teeth}}
                        </div>
        			</div>
        			<div class="cell height-auto">
        				<div class="left-box clearly-width">
        					主诉
        				</div>
        				<div class="middle-box line-height-normal">
                            {{casehistory.topicComment}}
                        </div>
        			</div>
        			<div class="cell height-auto">
        				<div class="left-box clearly-width">
        					检查结果
        				</div>
        				<div class="middle-box line-height-normal">
                            {{casehistory.checkResult}}
                        </div>
        			</div>
        			<div class="cell height-auto">
        				<div class="left-box clearly-width">
        					现病史
        				</div>
        				<div class="middle-box line-height-normal">
                            {{casehistory.presentIllness}}
                        </div>
        			</div>
        			<div class="cell height-auto">
        				<div class="left-box clearly-width">
        					既往史
        				</div>
        				<div class="middle-box line-height-normal">
                            {{casehistory.previousHistory}}
                        </div>
        			</div>
        			<div class="cell height-auto">
        				<div class="left-box clearly-width">
        					过敏史
        				</div>
        				<div class="middle-box line-height-normal">
                            {{casehistory.allergy}}
                        </div>
        			</div>
        			<div class="cell height-auto">
        				<div class="left-box clearly-width">
        					家族史
        				</div>
        				<div class="middle-box line-height-normal">
                            {{casehistory.familyHistory}}
                        </div>
        			</div>
        			<div class="cell height-auto">
        				<div class="left-box clearly-width">
        					孕育史
        				</div>
        				<div class="middle-box line-height-normal">
                            {{casehistory.breedHistory}}
                        </div>
        			</div>
        			<div class="cell height-auto">
        				<div class="left-box clearly-width">
        					生长发育史
        				</div>
        				<div class="middle-box line-height-normal">
                            {{casehistory.growthHistory}}
                        </div>
        			</div>
        			<div class="cell height-auto">
        				<div class="left-box clearly-width">
        					体格检查
        				</div>
        				<div class="middle-box">
                            <div class="line-height-normal">
                                体温：{{casehistory.bodyTemperature}}
                            </div>
                            <div class="line-height-normal">
                                呼吸：{{casehistory.breathe}}
                            </div>
                            <div class="line-height-normal">
                                血压：{{casehistory.bloodPressure}}
                            </div>
                            <div class="line-height-normal">
                                面、颈部：{{casehistory.faceNeck}}
                            </div>
                            <div class="line-height-normal">
                                心肺：{{casehistory.heartLung}}
                            </div>
                            <div class="line-height-normal">
                                腹部：{{casehistory.abdomen}}
                            </div>
                            <div class="line-height-normal">
                                四肢：{{casehistory.limbs}}
                            </div>
                            <div class="line-height-normal">
                                神经系统：{{casehistory.nervousSystem}}
                            </div>
                        </div>
        			</div>
        			<div class="cell height-auto">
        				<div class="left-box clearly-width">
        					诊断
        				</div>
        				<div class="middle-box line-height-normal">
                            {{casehistory.diagnosis}}
                        </div>
        			</div>
        			<div class="cell height-auto">
        				<div class="left-box clearly-width">
        					处方
        				</div>
        				<div class="middle-box">
                            <div ng-repeat="item in prescript" class="line-height-normal">
                                {{item.value}}
                            </div>
                        </div>
        			</div>
        			<div class="cell height-auto">
        				<div class="left-box clearly-width">
        					建议
        				</div>
        				<div class="middle-box line-height-normal">
                            {{casehistory.advise}}
                        </div>
        			</div>
                </div>
            </div>
            <div ng-if="!hasCasehistory" class="pad10">
                暂无病例信息
            </div>
        </div>
        <div ng-if="selectedTab == 2">
            <div ng-if="check != '' || assist != ''">
                <div class="cell-group text">
                    <div ng-if="check != ''" class="cell height-auto">
                        <div class="left-box clearly-width">
                            实验室检查
                        </div>
                        <div class="middle-box">
                            <div class="line-height-normal">
                                {{check}}
                            </div>
                        </div>
                    </div>
                    <div ng-if="assist != ''" class="cell height-auto">
                        <div class="left-box clearly-width">
                            治疗
                        </div>
                        <div class="middle-box">
                            <div class="line-height-normal">
                                {{assist}}
                            </div>
                        </div>
                    </div>
        			<div ng-if="prescript.length > 0" class="cell height-auto">
        				<div class="left-box clearly-width">
        					处方
        				</div>
        				<div class="middle-box">
                            <div ng-repeat="item in prescript" class="line-height-normal">
                                {{item.value}}
                            </div>
                        </div>
        			</div>
                </div>
                <div ng-if="check != ''" class="btn-dock">
					<button class="btn btn-primary" ng-click="showCheckInfo()">查看检查详情</button>
				</div>
            </div>
            <div ng-if="check == '' && assist == '' && prescript.length == 0" class="pad10">
                暂无医嘱信息
            </div>
        </div>
	</div>
</div>
