<div ng-controller="LayoutCtrl" class="layout-base">
    <div header-widget></div>

    <div class="layout-content" id="layoutContent">
        <div class="content-view">
            <div ng-controller="orderPaySuccessCtrl" class="orderPaySuccess-page">
                <div class="content-page" ng-class="{'topHeader': header, 'bottomFooter': footer}">
                    <div ng-if="tab == 'success'" class="success-tab">
                        <img src="./app/images/pay_success.png">
                        <p class="info">支付成功</p>
                        <p class="tel">客服电话：0851-27556691</p>
                        <div class="flex pt20">
                            <div class="flex-1"></div>
                            <button ng-click="showInfo()" class="btn btn-primary btn-small w60">查看详情</button>
                            <div class="flex-1"></div>
                        </div>
                    </div>
                    <div ng-if="tab == 'error'" class="error-tab">
                        <img src="./app/images/pay_error.png">
                        <p class="info">支付成功，订单数据异常，请联系客服</p>
                        <p class="tel">客服电话：0851-27556691</p>
                        <div class="btn-dock">
                            <a href="tel://0851-27556691" class="btn btn-primary">联系客服</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div footer-widget menu-list="menuList"></div>
</div>
