.login-page{
	.btn-dock{
		margin: px2rem(10px) 0 px2rem(20px);
	}
}
.register-page{
	.icon-eye{
		width: px2rem(25px);
		display: block;
		height: 100%;
		background: url('images/icon_eye.png') no-repeat;
		background-size: px2rem(50px) px2rem(25px);
		background-position-y: px2rem(11px);
		background-position-x: px2rem(-25px);
		&.show{
			background-position-x: 0;
		}
	}
}
.forgetpwd-page{
	.icon-eye{
		width: px2rem(25px);
		display: block;
		height: 100%;
		background: url('images/icon_eye.png') no-repeat;
		background-size: px2rem(50px) px2rem(25px);
		background-position-y: px2rem(11px);
		background-position-x: px2rem(-25px);
		&.show{
			background-position-x: 0;
		}
	}
}