<div ng-controller="doctorListCtrl" class="doctorList-page">
	<div class="tab-box">
		<div class="tab-header">
			<div class="tab-item" ng-class="{'active': selectedTab==0}" ng-click="checkTab(0)">全部</div>
			<div class="tab-item" ng-class="{'active': selectedTab==1}" ng-click="checkTab(1)">科室筛选</div>
		</div>
	</div>
	<div class="content-page">
		<div class="doctorList-tab" ng-show="selectedTab==0">
			<div class="doctor-tab">
				<div class="doctor-item" ng-repeat="doctor in doctors" ng-click="goDutydate(doctor.doctors[0].id)">
					<div class="item-grid flex">
						<div class="item-left">
							<img ng-src="{{doctor.imageUrl}}">
						</div>
						<div class="item-right">
							<p ng-bind="doctor.doctors[0].name"></p>	
							<p ng-bind="doctor.name"></p>
						</div>
					</div>
					<p ng-bind="doctor.address"></p>
				</div>
			</div>
		</div>
		<div class="deptList-tab" ng-show="selectedTab==1">
			<div class="dept-tab">
				<div class="dept-item" ng-repeat="dept in depts" ng-click="">
					<div class="item-grid">
						<p ng-bind="dept.name"></p>
					</div>
					<p ng-bind="dept.address"></p>
				</div>
			</div>
		</div>
	</div>
</div>