<div ng-controller="LayoutCtrl" class="layout-base">
    <div header-widget></div>

    <div class="layout-content" id="layoutContent">
        <div class="content-view">
            <div ng-controller="BookingCtrl" class="clinicBooking-page">
                <div class="content-page" ng-class="{'topHeader': header, 'bottomFooter': footer}">
                    <div ng-show="booking_error != ''" class="pad10">{{booking_error}}</div>
            		<form ng-show="booking_error == ''" name="clinicBookingForm">
            			<div class="cell-group">
                            <div class="cell">
                                <div class="left-box icon-type">
                                    预约项目
                                </div>
                                <div class="middle-box">
                                    <select name="doctor" ng-model="selectedService" ng-options="service as service.name for service in serviceList" ng-change="changeService()" required>

                                    </select>
                                </div>
                            </div>
                            <div class="cell">
                                <div class="left-box icon-doctor">
                                    预约医生
                                </div>
                                <div class="middle-box">
                                    <select name="doctor" ng-model="selectedDoctor" ng-options="doctor as doctor.doctorName for doctor in doctorList" required>

                                    </select>
                                </div>
                            </div>
            				<div class="cell">
            					<div class="left-box icon-date">
            						预约日期
            					</div>
            					<div class="middle-box">
                                    <select ng-model="selectedDate" ng-options="duty as duty.dutyDateText for duty in selectedDoctor.doctorDutys" ng-change="changeDuty()" required>

                                    </select>
            					</div>
            				</div>
            				<div class="cell">
            					<div class="left-box icon-time">
            						预约时间
            					</div>
            					<div class="middle-box">
            						<select name="time" ng-model="selectedTime" required>
                                        <option ng-if="time.use" ng-repeat="time in timeList" value="{{time.value}}">{{time.value}}</option>
                                        <option ng-if="!time.use" ng-repeat="time in timeList" value="{{time.value}}" disabled>{{time.value + '（' + time.text + '）'}}</option>
            						</select>
            					</div>
            					<div class="middle-box" ng-show="type=='ZJ'" ng-bind="time">

            					</div>
            				</div>
            				<div class="cell">
            					<div class="left-box icon-name">
            						宝宝姓名
            					</div>
            					<div class="middle-box">
            						<select ng-model="selectedChild" ng-options="child as child.childName for child in childList" required>

            						</select>
            					</div>
            				</div>
            			</div>
            			<div class="btn-dock">
            				<button class="btn btn-primary" ng-disabled="clinicBookingForm.$invalid" ng-click="submitForm()">确定预约</button>
            			</div>
            		</form>
            	</div>
            </div>
        </div>
    </div>

    <div footer-widget menu-list="menuList"></div>
</div>
