<div ng-controller="clinicCtrl" class="clinic-page">
    <div class="content-page" ng-class="{'topHeader': header, 'bottomFooter': footer}">
		<div class="clinic-info">
			<div class="info-img">
				<img ng-src="{{clinic.imageUrl}}">
			</div>
			<div class="info-full">
				<div ng-click="showMap(clinic)" class="icon-address" ng-bind="clinic.address"></div>
				<a href="tel://{{clinic.tel}}" class="tel">
					<span class="icon-phone">健康热线：</span>
					<span ng-bind="clinic.tel"></span>
				</a>
			</div>
		</div>
		<div class="description">
			<div class="title">诊所介绍</div>
			<div class="info" ng-bind="clinic.description"></div>
		</div>
		<div class="btn-dock">
			<button class="btn btn-zj" ng-click="goBooking()">预约</button>
		</div>
	</div>
</div>