.user-page{
	.user-item{
		margin-top: px2rem(10px);
		text-align: center;
		.user-child{
			background-color: #B2D9AC;
			color: #56A652;
		}
		.user-order{
			background-color: #F5BBC6;
			color: #E693A2;
		}
		img{
			width: px2rem(50px);
			height: px2rem(50px);
			margin: px2rem(10px) 0;
		}
		p{
			padding-bottom: px2rem(10px);
		}
	}
	.user-info{
		margin-top: px2rem(10px);
		background-color: #fff;
		padding: px2rem(10px);
	}
}
.childlist-page{
	.child-tab{
		.child-item{
			margin-top: px2rem(10px);
			background-color: #fff;
			.item-img{
				padding: px2rem(10px);
				width: px2rem(100px);
				height: px2rem(100px);
				img{
					width: 100%;
					height: 100%;
				}
			}
			.item-content{
				padding: px2rem(10px) 0px px2rem(10px) px2rem(20px);
				.age{
					padding-top: px2rem(5px);
				}
			}
			.item-btn{
				padding: px2rem(50px) px2rem(10px) 0;
				.btn{
					color: #fff;
					background-color: #76d9db;
				}
			}

		}
	}
}
.createChild-page{
	.tip{
		width: px2rem(10px);
		text-align: center;
		color: red;
		display: inline-block;
		height: px2rem(10px);
	}
	.gender-tab{
		background-color: #fff;
		padding: px2rem(10px) px2rem(20px);
		margin-bottom: px2rem(10px);
		.flex-1{
			text-align: center;
			.img-part{
				border: 1px solid #efefef;
				display: inline-block;
				border-radius: 50%;
				padding: px2rem(20px);
				.icon_boy{
					background: url('images/icon_boy.png') no-repeat;
					background-size: px2rem(35px) px2rem(35px);
					width: px2rem(35px);
					height: px2rem(35px);
				}
				.icon_girl{
					background: url('images/icon_girl.png') no-repeat;
					background-size: px2rem(35px) px2rem(35px);
					width: px2rem(35px);
					height: px2rem(35px);
				}
				&.active{
					border: 1px solid #F4D020;
				}
			}
		}
	}
	.cell-group{
		margin-bottom: 0;
		.date{
			p{
				padding: 0 px2rem(10px);
			}
		}
	}
	.other-tab{
		.tab-item{
			padding: 0 px2rem(10px);
			.text{
				background-color: #fff;
				border-radius: px2rem(4px);
				padding: px2rem(10px);
			}
		}
	}
	.upload-img{
		background-color: inherit;
		padding: 0;
		.add-icon{
			background-color: #888888;
			width: 100%;
			margin-left: 0;
			margin-bottom: 0;
			border-radius: 50%;
			.text{
				.text-sm{
					font-size: px2rem(14px);
				}
			}
		}
		.img-item{
			border: none;
			width: 100%;
			margin-left: 0;
			margin-bottom: 0;
		}
	}
	.child-info{
		padding: px2rem(10px);
		.info-img{
			width: px2rem(100px);
		}
	}
	input,select{
		padding: 0 px2rem(10px);
		width: 100%;
		height: px2rem(30px);
		background-color: #fff;
		border: none;
		margin-bottom: px2rem(10px);
		border-radius: px2rem(5px);
		appearance: none;
	    -moz-appearance: none;
	    -webkit-appearance: none;
	    background-color: #fff;
	}
	.btn-dock{
		margin-bottom: px2rem(20px);
	}
}
.updateChild-page{
	.child-info{
		.img-tab{
			background-color: #fff;
			padding: px2rem(10px);
			.tab{
				width: 100px;
				height: 100px;
				border-radius: 50%;
				overflow: hidden;
				img{
					width: px2rem(100px);
				}
			}
		}
	}
	.btn-dock{
		margin-bottom: px2rem(20px);
	}
}
.userinfo-page{
	select{
		width: 100%;
			border: none;
			border-width:0px;
		    border-top-style: none; 
		    border-right-style: none; 
		    border-left-style: none; 
		    border-bottom-style: none;
		    border-radius: px2rem(5px);
		    appearance:none;
			-moz-appearance:none;
			-webkit-appearance:none;
			background-color: #fff;
	}
}
.feedback-page{
	.content{
		padding: px2rem(10px);
		background-color: #fff;
		textarea{
			width: 100%;
			border: none;
		}
	}
	.cell-group{
		margin-top: px2rem(10px);
	}
	.tip{
		margin-top: px2rem(10px);
		border-top: 1px solid #d6d6d6;
		padding: px2rem(20px) px2rem(10px);
		text-align: justify;
	}
}