<div ng-controller="createChildCtrl" class="createChild-page">
    <div class="content-page" ng-class="{'topHeader': header, 'bottomFooter': footer}">
		<form name="createChildForm">
			<div class="gender-tab">
				<p class="tip">*</p>
				<div class="flex">
					<div class="tab-left flex-1">
						<div class="img-part" ng-class="{'active': gender=='M'}" ng-click="selectGender('M')">
							<div class="icon_boy"></div>
						</div>
						<p>男孩</p>
					</div>
					<div class="tab-right flex-1">
						<div class="img-part" ng-class="{'active': gender=='F'}" ng-click="selectGender('F')">
							<div class="icon_girl"></div>
						</div>
						<p>女孩</p>
					</div>
				</div>
			</div>
			<div class="cell-group">
				<div class="cell">
					<div class="left-box">
						<span class="tip">*</span>
						<span>姓名</span>
					</div>
					<div class="middle-box">
						<input type="text" ng-model="name" placeholder="请输入宝宝的姓名" required="">
					</div>
				</div>
				<div class="cell">
					<div class="left-box">
						<span class="tip"></span>
						<span>小名</span>
					</div>
					<div class="middle-box">
						<input type="text" ng-model="nickname" placeholder="请输入宝宝的小名">
					</div>
				</div>
				<div class="cell">
					<div class="left-box">
						<span class="tip">*</span>
						<span>生日</span>
					</div>
					<div class="middle-box date">
						<calendar-widget day-selected="dateText"></calendar-widget>
					</div>
				</div>
			</div>
			<div class="other-tab flex">
				<div class="tab-item flex-1">
					<p class="tip">*</p>
					<optionswidget options-key="1" options-data="optionsHoroscope.data" options-back="optionsHoroscope.backData" options-text="optionsHoroscope.text" options-title="optionsHoroscope.title" options-callback="optionsHoroscope.callback"></optionswidget>
				</div>
				<div class="tab-item flex-1">
					<p class="tip"></p>
					<optionswidget options-key="2" options-data="optionsShengxiao.data" options-back="optionsShengxiao.backData" options-text="optionsShengxiao.text" options-title="optionsShengxiao.title" options-callback="optionsShengxiao.callback"></optionswidget>
				</div>
				<div class="tab-item flex-1">
					<p class="tip"></p>
					<optionswidget options-key="3" options-data="optionsBloodtype.data" options-back="optionsBloodtype.backData" options-text="optionsBloodtype.text" options-title="optionsBloodtype.title" options-callback="optionsBloodtype.callback"></optionswidget>
				</div>
			</div>
			<div class="child-info flex">
				<div class="flex-1">
					<span class="tip">*</span>
					上传头像
				</div>
				<div class="info-img">
					<div id="uploadImgBox"></div>
				</div>
				<div class="flex-1"></div>
			</div>
			<div class="btn-dock">
				<button id="create" class="btn btn-primary" ng-disabled="createChildForm.$invalid || !gender || birth_date == '' || horoscope == ''">确认添加</button>
			</div>
		</form>
	</div>
</div>