<div ng-controller="LayoutCtrl" class="layout-base">
    <div header-widget></div>

    <div class="layout-content" id="layoutContent">
        <div class="content-view">
            <div ng-controller="payListCtrl" class="payList-page">
                <div class="content-page" ng-class="{'topHeader': header, 'bottomFooter': footer}">
                    <div class="info-tab">
                        <div class="tab">
                            <div class="text-center money">余额：{{user.balance}}元</div>
                            <div class="flex pt10 pb10">
                                <div class="flex-1 text-center">累计充值：{{recharge}}</div>
                                <div class="flex-1 text-center">累计消费：{{consume}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="info-list mt10 mb10 pl10 pr10">
                        <div ng-repeat="pay in payList" ng-click="detail(pay)" class="flex item pt10 pb10">
                            <div class="flex-1">
                                <div>{{pay.time}}</div>
                                <div>{{pay.typeText}}</div>
                            </div>
                            <div>
                                {{(pay.type == '2' ? '' : '-') + pay.totalAmount}}
                            </div>
                        </div>
                    </div>
                    <div ng-show="payList.length == 0" class="nodata">
                        暂无明细
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div footer-widget menu-list="menuList"></div>
</div>
