<div ng-controller="updateChildCtrl" class="updateChild-page">
    <div class="content-page" ng-class="{'topHeader': header, 'bottomFooter': footer}">
		<div class="child-info">
			<div class="img-tab flex">
				<div class="flex-1"></div>
				<div class="tab" ng-click="showImg(child.imageUrl);">
					<img ng-src="{{child.imageUrl}}">
				</div>
				<div class="flex-1"></div>
			</div>
			<div class="cell-group">
				<div class="cell">
					<p class="left-box">宝宝姓名：</p>
					<p class="middle-box" ng-bind="child.childName"></p>
				</div>
				<div class="cell">
					<p class="left-box">宝宝小名：</p>
					<p class="middle-box" ng-bind="child.nickName"></p>
				</div>
				<div class="cell">
					<p class="left-box">宝宝性别：</p>
					<p class="middle-box" ng-bind="child.gender"></p>
				</div>
				<div class="cell">
					<p class="left-box">宝宝年龄：</p>
					<p class="middle-box" ng-bind="child.age"></p>
				</div>
				<div class="cell">
					<p class="left-box">宝宝血型：</p>
					<p class="middle-box" ng-bind="child.bloodType"></p>
				</div>
				<div class="cell">
					<p class="left-box">宝宝星座：</p>
					<p class="middle-box" ng-bind="child.horoscope"></p>
				</div>
				<div class="cell">
					<p class="left-box">宝宝身高：</p>
					<p class="middle-box" ng-bind="child.height"></p>
				</div>
				<div class="cell">
					<p class="left-box">宝宝体重：</p>
					<p class="middle-box" ng-bind="child.weight"></p>
				</div>
				<div class="cell">
					<p class="left-box">宝宝腿长：</p>
					<p class="middle-box" ng-bind="child.legLength"></p>
				</div>
				<div class="cell">
					<p class="left-box">宝宝头围：</p>
					<p class="middle-box" ng-bind="child.headCircum"></p>
				</div>
			</div>
		</div>
		<div class="btn-dock">
			<button class="btn btn-primary" ng-click="addGrowth()">添加成长信息</button>
		</div>
	</div>
</div>