<div ng-controller="userinfoCtrl" class="userinfo-page">
    <div class="content-page" ng-class="{'topHeader': header, 'bottomFooter': footer}">
		<form name="userinfoForm">
			<div class="cell-group">
				<div class="cell">
					<div class="left-box clearly-width">
						用户名
					</div>
					<div class="middle-box">
						<input type="text" ng-model="info.name" placeholder="用户名" required ng-disabled="!(user.name == null || user.name == '')">
					</div>
				</div>
				<div class="cell">
					<div class="left-box clearly-width">
						姓名
					</div>
					<div class="middle-box">
						<input type="text" ng-model="info.nickname" placeholder="姓名" required ng-disabled="!(user.nickname == null || user.nickname == '')">
					</div>
				</div>
				<div class="cell">
					<div class="left-box clearly-width">
						性别
					</div>
					<div class="middle-box">
						<select ng-model="info.gender" required ng-disabled="!(user.gender == null || user.gender == '')">
							<option value="M">男</option>
							<option value="F">女</option>
						</select>
					</div>
				</div>
			</div>
			<div class="btn-dock" ng-show="user.name == null || user.name == '' || user.nickname == null || user.nickname == '' || user.gender == null || user.gender == ''">
				<button ng-click="submit()" class="btn btn-primary" ng-disabled="userinfoForm.$invalid">提交信息</button>
			</div>
		</form>
	</div>
</div>
