<div ng-controller="userinfoCtrl" class="userinfo-page">
    <div class="content-page" ng-class="{'topHeader': header, 'bottomFooter': footer}">
		<form name="userinfoForm">
			<div class="cell-group">
				<div class="cell">
					<div class="left-box">
						姓名
					</div>
					<div class="middle-box" ng-show="user.name==null">
						<input type="text" ng-model="name" placeholder="姓名" required>
					</div>
					<div class="middle-box" ng-bind="user.name" ng-show="user.name!=null">

					</div>
				</div>
				<div class="cell">
					<div class="left-box">
						昵称
					</div>
					<div class="middle-box" ng-show="user.name==null">
						<input type="text" ng-model="nickname" placeholder="昵称" required>
					</div>
					<div class="middle-box" ng-bind="user.nickname" ng-show="user.name!=null">

					</div>
				</div>
				<div class="cell">
					<div class="left-box">
						性别
					</div>
					<div class="middle-box" ng-show="user.name==null">
						<select ng-model="gender" required>
							<option value="F">男</option>
							<option value="M">女</option>
						</select>
					</div>
					<div class="middle-box" ng-bind="user.gender" ng-show="user.name!=null">

					</div>
				</div>
			</div>
			<div class="btn-dock" ng-show="user.name==null">
				<button ng-click="submit()" class="btn btn-primary" ng-disabled="userinfoForm.$invalid">提交信息</button>
			</div>
		</form>
	</div>
</div>