<div ng-controller="baoquanCreateCtrl" class="baoquanCreate-page">
	<div class="content-page" ng-class="{'topHeader': header, 'bottomFooter': footer}">
		<div class="tab">
			<div class="content-tab">
				<textarea ng-model="content" placeholder="这一刻的想法"></textarea>
			</div>
			<div class="address-tab">

			</div>
		</div>
		<div id="uploadImgBox"></div>
		<div id="upload" class="hide"></div>
		<div class="pt20 pb20">
			<div class="btn-dock">
				<button class="btn btn-primary" ng-click="create()">发布</button>
			</div>
		</div>
	</div>
</div>