<div ng-controller="baoquanCtrl" class="baoquan-page">
	<div class="content-page" ng-class="{'topHeader': header, 'bottomFooter': footer}">
		<div class="baoquan-list">
			<div class="item" ng-repeat="baoquan in baoquanlist">
				<div class="content">
					{{baoquan.content}}
				</div>
				<div class="imglist flex">
					<div class="img-item" ng-repeat="img in baoquan.circleFiles">
						<img ng-src="{{img.fileUrl}}" ng-click="showImg(img.fileUrl)">
					</div>
				</div>
				<div class="date text-right">
					{{baoquan.dateCreated}}
				</div>
			</div>
		</div>
		<div class="text-center nodata" ng-show="baoquanlist.length == 0">
			<img src="app/images/icon_nodata.png">
			<div class="info">暂无记录</div>
		</div>
	</div>
</div>