@media screen and (min-width: 320px) {
    html {
        font-size: 12px;
    }
}

@media screen and (min-width: 375px) {
    html {
        font-size: 14px;
    }
}

@media screen and (min-width: 414px) {
    html {
        font-size: 14px;
    }
}

@media screen and (min-width: 600px) {
    html {
        font-size: 16px;
    }
}
* {
    //font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    font-family: 'Microsoft YaHei',微软雅黑,'Microsoft Yahei',黑体,宋体,Arial,Simsun,Helvetica,sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
    width: 100%;
    overflow: hidden;
    letter-spacing: px2rem(1px);
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}

a{
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;cursor: pointer;
    color: #333;
    text-decoration: none;
    &:link{
        text-decoration:none;
    }
    &:visited{
        text-decoration:none;
    }
    &:hover{
        text-decoration:none;
    }
    &:active{
        text-decoration:none;
    }
}

//some save text class
.fn-clear {
    clear: both;
}

.fn-left {
    float: left;
}

.fn-right {
    float: right;
}

.fn-show {
    display: block;
}

.fn-hide {
    display: none;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}
.container{
    padding: 0 px2rem(10px) 0 px2rem(10px);
}
.w10{
    width: 10%;
}
.w15{
    width: 15%;
}
.w20{
    width: 20%;
}
.w25{
    width: 25%;
}
.w30{
    width: 30%;
}
.w35{
    width: 35%;
}
.w40{
    width: 40%;
}
.w50{
    width: 50%;
}
.w60{
    width: 60%;
}
.w70{
    width: 70%;
}
.w80{
    width: 80%;
}
.w90{
    width: 90%;
}
.w100{
    width: 100%;
}

.pt20{
    padding-top: px2rem(20px);
}
.pb10{
    padding-bottom: px2rem(10px);
}
.pb20{
    padding-bottom: px2rem(20px);
}